Button {
size: large,
}

.choice-button {
    width: 300px;
    height: 65px;
    margin: 10px;
    border: none;
    border-radius: 18px;
    background-color: #0b096b;
    color: white;
    cursor: pointer;
    font-size: 25px;
}