.story-page {
    border: 10px solid #DD403A;
    border-radius: 6px;
    padding: 5px;
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.story-image {
    overflow: auto;
    border: 10px solid #f7ea41;
    border-radius: 18px;
    display: flex;
    flex-basis: content;
    flex-shrink: inherit;
}

.story-text {
    border: 10px solid #18a07e;
    text-align: center;
    font-size: 16px;
    flex: auto;
}

.choices {
    border: 10px solid #1fa741;
    text-align: center;
}
