.story-page {
    border: 10px solid #DD403A;
    border-radius: 6px;
    padding: 5px;
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 27em;
}

.story-image {}

.story-text {}

.choices {}

.choice-button {}